<html>
    <head>
        <title>Gerador de cartas</title>
        </title>
    </head>
    <body>
        <h1>Escreva sua carta</h1>
            <form action="/carta" method="POST">

            <p>Data: <input type="date" id="data" name="data"></p>
            <p>Destinatário: <input type="text" id="dest" name="dest"></p>
            <p>Mensagem: <input type="text" id="msg" name="msg"></p>
            <p>Remetente: <input type="text" id="rem" name="rem"></p>

            <button type="submit" name="botao" value="add">Gerar carta</button>

            </form>
    </body>
</html>
